 <{extends file="<{$tempdir}>/public/wxsite.html"}>  
<{block name=extendcss}> 
 <link rel="stylesheet"  href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/css/editaddress.css">   

<{/block}>
 <{block name=extendjs}>  
<{/block}>
<{block name=myScrolljs}>
<script> 
		var myScroll;
function loaded() {
	myScroll = new iScroll('wrapper', {
		useTransform: false,
		onBeforeScrollStart: function (e) {
			var target = e.target;
			while (target.nodeType != 1) target = target.parentNode;

			if (target.tagName != 'SELECT' && target.tagName != 'INPUT' && target.tagName != 'TEXTAREA')
				e.preventDefault();
		}
	});
}
document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false); 
document.addEventListener('DOMContentLoaded', function () { setTimeout(loaded, 200); }, false);
</script>
<{/block}>
<{block name=sitetitle}><{$sitename}><{/block}>
<{block name=hearnav}>
<div class="toptitCon">
 <div class="toptitBox">
  <div class="toptitL"><i></i></div>
  <div class="toptitC"><h3>修改密码</h3></div>
 </div>
</div>
<{/block}>
<{block name=blockcontent}>  
 <div id="wrapper" style="top:40px;">
	<div id="scroller">
		
<!--修改密码-->
<div class="chapassCon">
 <ul>
  <li><i class="chpassdq"></i><input type="password" id="oldpwd"  name="oldpwd"   placeholder="当前密码" maxlength="32"></li>
  <li><i class="chpassxd"></i><input type="password" id="newpwd" name="newpwd"   placeholder="新密码" maxlength="32"></li>
  <li><i class="chpassqr"></i><input type="password"  id="newrepwd"  name="newrepwd" placeholder="确认新密码" maxlength="32"></li>
 </ul>
 <p>密码长度至少6个字符最多32个字符</p>
</div>
<div class="intexchabutt"  onclick="xiugaipwd();" ><input type="button" value="确定" class="intexbg1"></div>

  
</div>		
</div>		
<script>
	 
	function xiugaipwd(){ 
		$('#loading').show();
		 
       var info = {'oldpaypwd':$('#oldpwd').val(),'newpaypwd':$('#newpwd').val(),'verifynewpaypwd':$('#newrepwd').val()}; 
	  	var url = '<{ofunc type=url link="/member/xiugaimempwd/datatype/json"}>';
		  var backdata = ajaxback(url,info); 
		  if(backdata.flag == false){  
					$('#loading').hide();
				Tmsg('修改成功,请重新登陆！');
							$('.closegb').live("click", function() {   
								 $('.popup').slideToggle('slow',function(){$('#mask').remove();$('.popup').remove();}); 
								window.location.href = siteurl+'/index.php?ctrl=wxsite&action=member'; 
								 
							});
		      
		  }else{
		  	$('#loading').hide();
		     Tmsg(backdata.content);
		  }
		  
	}
	</script>

<{/block}>