 <{extends file="<{$tempdir}>/public/wxsite.html"}>  
<{block name=extendcss}> 
 <link rel="stylesheet"  href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/css/wmr-red-enve.css">  
<style>
html{font-size: 26.6667px!important;}

body{   background:<{$shareinfo['color']}>!important;}
.content-bg{   background:<{$shareinfo['actcolor']}>!important;}
input{border:none!important;}
input[type='number'], input[type='tel'] {
    height: 1.35rem;
    width: 100%;
    border: none;
    font-size: .64rem;
    text-align: center;
}
.share-infor .number {
	margin: 20px 0px 3px;
    width: 5.3rem!important;
    color: #ef361e!important;
    font-weight: bold!important;
    text-align: center;}
	.share-infor .number .rmb{font-weight:normal!important;}
	.share-infor .number .rmb,.share-infor .number i{color: #ef361e!important;}
.content2{margin-bottom:10px;}
</style> 
<{/block}>
 <{block name=extendjs}>  
  
<{/block}>
<{block name=sitetitle}><{$sitename}><{/block}>
<{block name=hearnav}><{/block}>
<{block name=footer}><{/block}>
<{block name=myScrolljs}> 
<{/block}>
<{block name=blockcontent}> 
 <div id="">


 <div class="t-banner"><img src="<{$siteurl}><{$shareinfo['bigimg']}>" alt=""/></div>
 
	 <{if !empty($historyphone) && !empty($juanlist) }>
	 
		 <{foreach from=$juanlist item=items }>
		 <section class="content2">
				<div class="result resulth5">
						<div class="result-inner-share">
									<div class="share-sort"><i>红包</i></div>

							<div class="share-infor">
								<div class="number"><em class="rmb">￥</em><i><{$items['cost']}></i></div>
									<div class="classify">
									 <{assign var=paytypearr value=","|explode:$items['paytype']}> 
									<{if  in_array(1,$paytypearr ) &&  in_array(2,$paytypearr )  }>支持货到付款和在线支付<{/if}>
									<{if  in_array(1,$paytypearr ) &&  !(in_array(2,$paytypearr ))  }>仅限货到付款<{/if}>
									<{if  in_array(2,$paytypearr ) &&  !(in_array(1,$paytypearr ))  }>仅限在线支付<{/if}>
 									满<{$items['limitcost']}>元可用</div>
									<div class="favorable"></div>
							</div>
						</div>
				</div>
			</section>
		<{/foreach}>
		
	 <{else}>
	 
	 
			 <{if !empty($checkinfosendjuan) &&  !empty($orderinfo)  }>
					<section class="content1">
						<div class="opr">
							<input id="phone-input" type="number" class="borderradius-3" placeholder="请输入您的手机号"/>
							<div id="capture-tip" class="capture-tip"></div>
							<input id="capture-btn" class="combtn borderradius-3" type="button" value="马上领取"/>
						</div>
					</section>
			 <{else}>
				<section class="content1">
					<div class="opr">
						<input style="background:#DEDEDE;color:#A9A9A9;"  class="combtn borderradius-3" type="button" value="红包已领取结束"/>
					</div>
				</section>
			 <{/if}>
			 
			 
	 <{/if}>	
 
<div class="content-bg">



   <{if !empty($historyphone) && !empty($juanlist)   }>

<div class="info">红包已放账户！快订餐吧，不要过期噢～<br>仅限<{$historyphone}>手机号使用 
        </div>
		<input id="enveuse-btn" class="combtn downloadbtn needsclick" type="button" value="去订餐">
	<{/if}>
        <section class="rule">
            <h4 class="sec-sub-title">活动规则</h4>
			<div id="activerule" style="">
			<{$shareinfo['avtrule']|htmlspecialchars_decode|default:'暂无说明'}>
			
   
	
	</div>
	
        </section>
        
		
    </div>
 
 
 <div style="height:20px;"></div>
 
 </div> 
 <style>
#activerule {
 width: 90%;
    margin: .5rem auto 0;
 }
 #activerule ul{    width: 100%!important;
					margin: 0px!important;}
 #activerule img{ width:100%!important;}
 </style>
<script>
$('#toggle-help').bind('click',function(){
	if(lockclick()){
		$("#help-main").toggle();
	}
});
$("#capture-btn").bind('click',function(){
	if(lockclick()){
			
			var phone = $("#phone-input").val();
			
			 var historyphone = phone; 
			 $.cookie('historyphone', historyphone, { expires: 30, path: '/' }); 

			// $.cookie('historyphone', historyphone); 
		 
		 
			url = siteurl+'/index.php?ctrl=wxsite&action=receivejuan&datatype=json&random=@random@';
			  url = url.replace('@random@', 1+Math.round(Math.random()*1000));
			$.ajax({         //script定义
					 url: url.replace('@random@', 1+Math.round(Math.random()*1000)),
					 dataType: "json",
					 async:true,
					 data:{'phone':phone,'orderid':'<{$orderinfo['id']|default:0}>'},
					 success:function(content) { 
						if(content.error ==  false){ 
							window.location.reload();
						}else{
							$('#capture-tip').html('');
							$('#capture-tip').html(content.msg);
							
						}
						 
					 
					 },
					 error:function(){
						$('#capture-tip').html('获取失败~');
					 }
			}); 
	}
	
});
</script>  
 
 

<script src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/js/jweixin-1.0.0.js"></script>  
 <script>
  
 
 var sharelink = '<{ofunc type=url link="/wxsite/sharehb/did/<{$orderinfo['id']}>"}>';
 var sharetitle = '<{$shareinfo['title']}>';
 var sharedesc = '<{$shareinfo['describe']}>';
 var shareimgUrl = '<{$siteurl}><{$shareinfo['img']}>';
 
 
     wx.config({
      debug: false,
      appId: '<{$signPackage['appId']}>',
      timestamp: '<{$signPackage['timestamp']}>',
      nonceStr: '<{$signPackage['nonceStr']}>',
      signature: '<{$signPackage['signature']}>',
      jsApiList: [
        'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'onMenuShareQZone'
      ]
  });
  wx.ready(function(){
   // 2. 分享接口
  // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
 // document.querySelector('#onMenuShareAppMessage').onclick = function () {
    wx.onMenuShareAppMessage({
      title: sharetitle,
      desc: sharedesc,
      link: sharelink,
      imgUrl: shareimgUrl,
      trigger: function (res) {
        // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
      //  Tmsg('用户点击发送给朋友');
      },
      success: function (res) {
      //  Tmsg('分享成功');
      },
      cancel: function (res) {
       // Tmsg('已取消');
      },
      fail: function (res) {
      //  Tmsg(JSON.stringify(res));
      }
    });
   // Tmsg('已注册获取“发送给朋友”状态事件');
//};


	 // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
	//  document.querySelector('#onMenuShareTimeline').onclick = function () {
		wx.onMenuShareTimeline({
		  title: sharetitle,
		  desc: sharedesc,
		  link: sharelink,
		  imgUrl: shareimgUrl,
		  trigger: function (res) {
			// 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
			//Tmsg('用户点击分享到朋友圈');
		  },
		  success: function (res) {
		//	Tmsg('分享成功');
		  },
		  cancel: function (res) {
		//	Tmsg('已取消');
		  },
		  fail: function (res) {
		//	Tmsg(JSON.stringify(res));
		  }
		});
	//	Tmsg('已注册获取“分享到朋友圈”状态事件');
	//  };

  // 2.3 监听“分享到QQ”按钮点击、自定义分享内容及分享结果接口
 // document.querySelector('#onMenuShareQQ').onclick = function () {
    wx.onMenuShareQQ({
     title: sharetitle,
      desc: sharedesc,
      link: sharelink,
      imgUrl: shareimgUrl,
      trigger: function (res) {
       // Tmsg('用户点击分享到QQ');
      },
      complete: function (res) {
     //   Tmsg(JSON.stringify(res));
      },
      success: function (res) {
     //   Tmsg('分享成功');
      },
      cancel: function (res) {
     //   Tmsg('已取消');
      },
      fail: function (res) {
     //   Tmsg(JSON.stringify(res));
      }
    });
  //  Tmsg('已注册获取“分享到 QQ”状态事件');
 // };
  
  // 2.4 监听“分享到微博”按钮点击、自定义分享内容及分享结果接口
 // document.querySelector('#onMenuShareWeibo').onclick = function () {
    wx.onMenuShareWeibo({
    title: sharetitle,
      desc: sharedesc,
      link: sharelink,
      imgUrl: shareimgUrl,
      trigger: function (res) {
    //    Tmsg('用户点击分享到微博');
      },
      complete: function (res) {
     //   Tmsg(JSON.stringify(res));
      },
      success: function (res) {
    //    Tmsg('分享成功');
      },
      cancel: function (res) {
      //  Tmsg('已取消');
      },
      fail: function (res) {
    //    Tmsg(JSON.stringify(res));
      }
    });
  //  Tmsg('已注册获取“分享到微博”状态事件');
//  };

  // 2.5 监听“分享到QZone”按钮点击、自定义分享内容及分享接口
 // document.querySelector('#onMenuShareQZone').onclick = function () {
    wx.onMenuShareQZone({
      title: sharetitle,
      desc: sharedesc,
      link: sharelink,
      imgUrl: shareimgUrl,
      trigger: function (res) {
    //    Tmsg('用户点击分享到QZone');
      },
      complete: function (res) {
   //     Tmsg(JSON.stringify(res));
      },
      success: function (res) {
  //      Tmsg('分享成功');
      },
      cancel: function (res) {
   //     Tmsg('已取消');
      },
      fail: function (res) {
   //     Tmsg(JSON.stringify(res));
      }
    });
 //   Tmsg('已注册获取“分享到QZone”状态事件');
 // };

});
   </script> 
 
<{/block}>