 <{extends file="<{$tempdir}>/public/admin.html"}> 
 <{block name=extendjs}>
 <link rel="stylesheet" type="text/css" href="<{$siteurl}>/templates/<{$tempdir}>/public/css/index.css">
 <script src="<{$siteurl}>/js/kindeditor/kindeditor.js" type="text/javascript" language="javascript"></script>
 <script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/datepicker/WdatePicker.js" type="text/javascript" language="javascript"></script>
 <{/block}>
 <{block name=controlname}>网站管理<{/block}>
 <{block name=bodylist}>
 <div class="homeRightCon">
     <div class="homeRightTop">
         <ul>
             <li class="hoTopbg01">
                 <a href="<{ofunc type=url link="/adminpage/order/module/ordertoday"}>">
                     <i class="icon_ddks"></i>
                     <span>订单快速处理系统</span>
                 </a>
             </li>
             <li class="hoTopbg02">
                 <a href="<{ofunc type=url link="/adminpage/order/module/adminfastfoods"}>">
                     <i class="icon_dkxd"></i>
                     <span>客服代客下单系统</span>
                 </a>
             </li>
             <li class="hoTopbg03">
                 <a href="<{ofunc type=url link="/adminpage/order/module/shopjsadd"}>">
                     <i class="icon_sjjs"></i>
                     <span>商家结算系统</span>
                 </a>
             </li>
             <li class="hoTopbg04">
                 <a href="<{ofunc type=url link="/adminpage/psuser/module/psymap"}>">
                     <i class="icon_psydd"></i>
                     <span>配送员调度管理系统</span>
                 </a>
             </li>
             <li class="hoTopbg05">
                 <a href="<{ofunc type=url link="/adminpage/shop/module/goodslibrary"}>">
                     <i class="icon_spkgl"></i>
                     <span>商品库管理系统</span>
                 </a>
             </li>
         </ul>
     </div>
     <div class="homeRightBot">
         <div class="homeRightBox">
             <div class="homeRightTit hoRiTit_bg01">
                 <i class="icon_edit"></i>
                 <h2>系统信息</h2>
             </div>
             <div class="homeRightEdit">
                 <table>
                     <tbody>
                     <tr>
                         <th>服务器当前时间：</th>
                         <td><{$smarty.now|date_format:"%Y-%m-%d %H:%M:%S"}></td>
                     </tr>
                     <tr class="trbg">
                         <th>PHP版本：</th>
                         <td><{phpversion()}></td>
                     </tr>
                     <tr>
                         <th>当前程序版本：</th>
                         <td> V8.4</td>
                     </tr>
                     <tr class="trbg">
                         <th>版权所有：</th>
                         <td>waimairen</td>
                     </tr>
                     </tbody>
                 </table>
             </div>
         </div>
         <div class="homeRightBox">
             <div class="homeRightTit hoRiTit_bg02">
                 <i class="icon_data"></i>
                 <h2>系统信息</h2>
             </div>
             <div class="homeRightData">
                 <ul>
                     <li class="font_red"><h3><{$tjdata['dayallorder']}></h3><span>今日总订单</span></li>
                     <li class="font_org"><h3><{$tjdata['dayworder']}></h3><span>今日待审核订单</span></li>
                     <li class="font_green"><h3><{$tjdata['dayporder']}></h3><span>今日已审核订单</span></li>
                     <li><h3><{$tjdata['monthallorder']}></h3><span>本月完成订单</span></li>
                     <li style="border-right:none;"><h3><{$tjdata['allorder']}></h3><span>完成订单总量</span></li>
                     <li><h3><{$tjdata['pmember']}></h3><span>会员总数</span></li>
                     <li><h3><{$tjdata['wshop']}></h3><span>待审核商家</span></li>
                     <li><h3><{$tjdata['onlineshop']}></h3><span>已上线商家</span></li>
                     <li><h3><{$tjdata['market']}></h3><span>商城订单</span></li>
                     <li style="border-right:none;"><h3><{$tjdata['marketg']}></h3><span>商品数量</span></li>
                 </ul>
             </div>
         </div>
     </div>
 </div>
<{/block}>